<div class='row'>
<div class="col-sm-4">
    <div class="card" style="width: 24rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Norhand Loyalar</h5>
        </div>
        <table class="table">

            <tbody>
                <tr>
                    <th scope="row">Class & Level</th>
                    <td>Wizard <span class="badge badge-pill badge-primary">2</span></td>
                    <th scope="row">Race</th>
                    <td>Human</td>
                </tr>
                <tr>
                    <th scope="row">Background</th>
                    <td>Sage</td>
                    <th scope="row">Alignment</th>
                    <td>Neutral Good</td>
                </tr>
                <tr>
                    <th scope="row">Player Name</th>
                    <td>Nathri</td>
                    <th scope="row">Experience points</th>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">Faction</th>
                    <td>n/a</td>
                    <th scope="row">DCI Number</th>
                    <td>n/a</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>






<div class="col-sm-7">
   
  <div class="row">
    <div class="col">
      <div class="stat">
      <h6>Strength</h6>
      <div class="stats">9</div>
      <span class="badge badge-pill badge-primary dropdown-stat">-1</span>
      </div>
      
        </div>
    <div class="col">
      <div class="stat">
      <h6>Dexterity</h6>
      <div class="stats">11</div>
            <span class="badge badge-pill badge-primary dropdown-stat">0</span>
      </div>
        </div>
        <div class="col">
      <div class="stat">
      <h6>Constitution</h6>
      <div class="stats">15</div>
            <span class="badge badge-pill badge-primary dropdown-stat">+2</span>
      </div>
        </div>
        <div class="col">
      <div class="stat">
      <h6>Intelligence</h6>
      <div class="stats">18</div>
            <span class="badge badge-pill badge-primary dropdown-stat">+4</span>
      </div>
        </div>
        <div class="col">
      <div class="stat">
      <h6>Wisdom</h6>
      <div class="stats">14</div>
            <span class="badge badge-pill badge-primary dropdown-stat">+2</span>
      </div>
        </div>
        <div class="col">
      <div class="stat">
      <h6>Charisma</h6>
      <div class="stats">13</div>
            <span class="badge badge-pill badge-primary dropdown-stat">+1</span>
      </div>
        </div>
  </div>

  <div class="row">
<div class="col">
  <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col" colspan="3">Saving Throws</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><i class="far fa-circle"></i></th>
      <td>-1</td>
      <td>Strength</td>
    </tr>
    <tr>
      <th scope="row"><i class="fas fa-circle"></i></th>
      <td>0</td>
      <td>Dexterity</td>
    </tr>
    <tr>
      <th scope="row"><i class="fas fa-circle"></i></th>
      <td>+2</td>
      <td>Constitution</td>
    </tr>
        <tr>
      <th scope="row"><i class="fas fa-circle"></i></th>
      <td>+4</td>
      <td>Intelligence</td>
    </tr>
        <tr>
      <th scope="row"><i class="fas fa-circle"></i></th>
      <td>+2</td>
      <td>Wisdom</td>
    </tr>
        <tr>
      <th scope="row"><i class="fas fa-circle"></i></th>
      <td>+1</td>
      <td>Charisma</td>
    </tr>
  </tbody>
</table>
</div>
<div class="col">
  <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col" colspan="3">Skills</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>

</div>